<%- include ("partials/head.ejs") %>

<body>
  <img src="https://jisho.no/jisho_logo_full.png" height="100">
  <h2><%= brukernavn %>さん！</h2>
  <h4>Her ser du hva som har skjedd <%= tid %> på <a href="https://baksida.jisho.no/" target="_blank">baksida.jisho.no</a></h4>
  <div class="boks">
    <span style="font-weight: bold">Generelt<br></span>
    <ul style="padding-left: 20px">
      <li><span><%= aktiviteter.nye_forslag %> nye forslag </span></li>
      <li><span><%= aktiviteter.nye_kommentarer %> nye kommentarer</span></li>
      <li><span><%= aktiviteter.nye_oversettelser %> nye godkjente oversettelser</span></li>
      <li><span><%= aktiviteter.nye_vegginnlegg %> nye vegginnlegg</span></li>
      <li><span><%= aktiviteter.nye_stemmer %> nye stemmer</span></li>
    </ul>
    <span style="font-weight: bold">Personlig<br></span>
    <ul style="padding-left: 20px">
      <li><span><%= aktiviteter.nye_stemmer_eget_forslag %> nye stemmer på dine forslag</span></li>
      <li><span><%= ulest.kommentarer_egne %> uleste kommentarer på egne forslag</span></li>
      <li><span><%= ulest.svar_kommentarer %> uleste svar på kommentarer</span></li>
      <li><span><%= ulest.vegginnlegg %> uleste vegginnlegg</span></li>
      <li><span><%= ulest.forslag_ikke_stemt %> forslag du ikke har stemt på</span></li>
    </ul>
  </div>

<%- include ("partials/footer.ejs") %>

